@import "../vars"
@import "../_mixins/helpers"

.footer-section
  position: relative
  z-index: 10
  background-color: $dark-color

.footer-container
  max-width: 1400px
  margin: 0 auto
  padding: 65px 0
  font-family: $light-font
  font-size: 14px
  line-height: 3
  text-align: center
  color: $white-color

.footer-logo-container
  width: 36px
  height: 36px
  margin: 0 auto 30px
  svg
    +img

.footer-subcopy
  font-size: 11px