@import "../vars"
@import "../_mixins/helpers"

.header
  z-index: 10
  //background-color: rgb(36, 36, 36)
  //background-image: url('../img/header_bg.jpg')
  //background-repeat: no-repeat
  //background-size: cover
  //background-position: center
  //+youtube-container
  height: 100vh

.header-container
  padding: 0 60px
  position: relative
  height: 100%
  +section-container
  +media-width-max(1024)
    padding: 0

.header-top
  display: flex
  align-items: center
  padding: 28px 0
  border-bottom: 1px solid $white-color
  +media-width-max(1024)
    padding-right: 2%
    padding-left: 2%

.header-logo-container
  .logo-link
    display: block
    width: 122px
    height: 36px
    svg
      +img

.header-burger
  display: none
  position: absolute
  top: 0
  right: 0
  padding: 46px 30px
  cursor: pointer
  //&:hover
    background-color: $accent-color
  //&:hover > .burger-icon
    background-color: #fff
  +media-width-max(768)
    display: block

.burger-icon
  position: relative
  width: 34px
  height: 3px
  background-color: $accent-color
  transition: background .2s ease-out
  &:before, &:after
    content: ""
    position: absolute
    display: block
    width: 100%
    height: 100%
    background-color: $accent-color
    transition: all .2s ease-out
  &:before
    top: 10px
  &:after
    top: -10px

.burger-close
  background-color: transparent
  &:before
    top: 0
    //background-color: $white-color
    transform: rotate(-45deg)
  &:after
    top: 0
    //background-color: $white-color
    transform: rotate(45deg)

.main-menu-list
  z-index: 20
  display: flex
  margin-left: auto
  transition: all .2s ease-out
  +media-width-max(768)
    position: absolute
    width: 100%
    flex-direction: column
    height: 0
    top: 94px
    left: 0
    //padding-top: 10px
    text-align: right
    overflow: hidden
    background-color: $accent-bg-color
  .menu-item
    +media-width-max(768)
      text-align: center
    &:first-child
      +media-width-max(768)
        margin-top: 10px
  .menu-item:not(:last-child)
    margin-right: 20px
    +media-width-max(1200)
      margin-right: 8px
    +media-width-max(1024)
      margin-right: 0
  .menu-link
    padding: 10px 8px
    font-size: 13px
    letter-spacing: 1px
    text-transform: uppercase
    text-decoration: none
    white-space: nowrap
    color: $white-color
    border-top: 0 solid $accent-color
    transition: color .1s ease-in 0s, border 0s ease-in .1s
    &:hover
      color: $accent-color
      border-top: 1px solid $accent-color
      transition: color .1s ease-in 0s, border 0s ease-in .1s
    +media-width-max(768)
      &:hover
        border-top: none
        color: $white-color
      &:active
        color: $accent-active-color

.menu-open
  height: 225px

.header-social-list
  display: flex
  padding-left: 4%
  align-items: center
  +media-width-max(1024)
    display: none
  .social-item:not(:last-child)
    margin-right: 7px
  .social-item:last-child
    margin-right: 7px

  .social-facebook, 
  .social-linkedin, 
  .social-youtube, 
  .social-instagram
    display: block
    box-sizing: content-box
    padding: 5px
    svg
      +img
      fill: #fc5721
      transition: fill .2s ease-out
    &:hover svg
      fill: #f72711
    &:active svg
      fill: #c81f0d

  .social-facebook
    width: 19px
    height: 18px
          
  .social-linkedin
    width: 19px
    height: 18px

  .social-youtube
    width: 24px
    height: 16px

  .social-instagram
    width: 19px
    height: 18px

.header-title
  display: inline-block
  position: absolute
  z-index: 10
  top: 50%
  transform: translateY(-50%)
  padding-left: 5px
  font-size: 60px
  line-height: 1
  text-transform: uppercase
  color: $white-color
  +media-width-max(1024)
    margin-left: 2%
  +media-width-max(768)
    z-index: -1
  &:before
    content: ""
    display: block
    position: absolute
    z-index: -1
    width: 256px
    height: 41px
    top: -12px
    left: 0
    background-color: $accent-color
  .title-sub
    display: block
    margin-top: 20px
    +light-font
    font-size: 40px