@import "../vars"
@import "../_mixins/helpers"

.kromtech-section
  position: relative
  z-index: 10
  background-color: $comp-bg-color
  .backtotop-button
    background-color: $gray-button-bg
  .learn-more-wrapper
    margin-bottom: 80px
    text-align: center
  .aggregator-container
    margin: 0 8%
    +media-width-max(1024)
      margin-right: 2%
      margin-left: 2%
  .kromtech-advent
    +media-width-max(1024)
      width: 67%
      margin-left: auto
    +media-width-max(640)
      width: 100%
    .company-advent-item
      +media-width-max(768)
        width: 100%
        margin-left: 6%
        margin-right: 6%
      +media-width-max(480)
        margin-left: 0
        margin-right: 0
    .company-info-title
      +media-width-max(640)
        text-align: center
    .company-info-title
      margin-bottom: 45px
  .kromtech-products
    .company-products-item
      +media-width-max(640)
        width: 33%
      +media-width-max(480)
        width: 50%
    .company-products-list
      +media-width-max(640)
        justify-content: center
        margin-bottom: 0

.kromtech-container
  position: relative
  max-width: 1400px
  margin: 0 auto
  padding-top: $big-sp

.kromtech-wrapper
  padding-bottom: $big-sp
  overflow: hidden
  +media-width-max(640)
    padding-bottom: 30px

.kromtech-logo
  width: 257px
  height: 60px

.kromtech-bg-robo
  position: absolute
  width: 47%
  top: -90px
  left: -25%
  img
    +img
  +media-width-max(1024)
    width: 30%
    left: 50%
    transform: translateX(-50%)
  +media-width-max(768)
    width: 185px
    top: -30px
  +media-width-max(640)
    top: 0

.kromtech-robo-container
  position: absolute
  z-index: -1
  left: -62%
  top: 100px
  img
    +img
  +media-width-max(1376)
    left: -70%
  +media-width-max(1024)
    width: 330px
    top: 0
    left: -55%
  +media-width-max(768)
    width: 300px
    top: 70px
    left: -70%
  +media-width-max(640)
    position: relative
    left: 50%
    top: 0
    margin-bottom: 40px
    transform: translateX(-50%)

.kromtech-partners-list
  display: flex
  flex-wrap: wrap
  padding: 0
  margin: 0 8%
  +media-width-max(1024)
    margin-right: 2%
    margin-left: 2%

.kromtech-product-link
  display: block
  width: 100%
  height: 100%
  text-decoration: none
  .products-icon-container
    +scale-out(1)
  &:hover>.products-icon-container
    +scale-in(1.1)
.kromtech-partners-item
  margin-bottom: 30px
  &:nth-child(odd)
    flex: 1 1 40%
    +media-width-max(1376)
      flex: 1 1 37%
    +media-width-max(768)
      flex: 1 1 50%
    +media-width-max(610)
      flex: 0 0 100%
  &:nth-child(even)
    flex: 1 1 60%
    +media-width-max(1376)
      flex: 1 1 63%
    +media-width-max(768)
      flex: 1 1 50%
    +media-width-max(610)
      flex: 0 0 100%
  &:nth-child(1)
    .partners-title
      margin-bottom: 50px
  &:nth-child(3)
    .partners-title
      margin-bottom: 25px
  &:nth-child(4)
    .partners-title
      margin-bottom: 50px
  .partners-logo-container
    flex: 0 0 100%
    img:not(:last-child)
      margin-right: 3.7%
    img
      margin-bottom: 10px
  .partners-title
    flex: 0 0 100%
    position: relative
    margin-bottom: 40px
    +medium-font
    font-size: 20px
    text-transform: uppercase
    line-height: 1.4
    color: $dark-color
    &:after
      content: ""
      position: absolute
      width: 255px
      left: 0
      bottom: -20px
      border-bottom: 2px solid $accent-color
  &:nth-child(even)
    .partners-title
      &:after
        width: 295px

.products-icon-container
  margin-left: auto
  margin-right: auto
  svg
    +img

.products-icon-container[data-icon=k_icon_01]
  width: 41px
  height: 51px

.products-icon-container[data-icon=k_icon_02]
  width: 50px
  height: 51px

.products-icon-container[data-icon=k_icon_03]
  width: 45px
  height: 51px

.products-icon-container[data-icon=k_icon_04]
  width: 49px
  height: 51px

.products-icon-container[data-icon=k_icon_05]
  width: 40px
  height: 51px

.products-icon-container[data-icon=k_icon_06]
  width: 50px
  height: 51px

.products-icon-container[data-icon=k_icon_07]
  width: 51px
  height: 51px

.products-icon-container[data-icon=k_icon_08]
  width: 47px
  height: 51px

.products-icon-container[data-icon=k_icon_09]
  width: 50px
  height: 51px

.products-icon-container[data-icon=k_icon_10]
  width: 40px
  height: 51px