@import "../vars"

.news-container
  max-width: 1400px
  margin: 0 auto
  padding: 70px 0 0 0
  border-bottom: 1px solid rgb(204, 204, 204)
  .backtotop-button
    margin-right: 120px
    background-color: rgb(246, 246, 246)

.aggregator-container
    margin-top: 80px