@import "../vars"
@import "../_mixins/helpers"

.novnify-section
  position: relative
  z-index: 10
  background-color: $dark-bg-color
  .backtotop-button
    background-color: $dark-button-bg
    .section-name
      color: $dirty-white-color
  .learn-more-wrapper
    text-align: center
    padding-bottom: $big-sp
  .aggregator-container
    margin-left: 8%
    margin-right: 8%
    +media-width-max(768)
      margin-left: 2%
      margin-right: 2%
  .company-aside
    +media-width-max(1024)
      display: none
  .company-info-block
    +media-width-max(1024)
      padding-left: 12%
      padding-right: 12%
    +media-width-max(1024)
      padding-left: 0
      padding-right: 0
  .company-info-text
    margin-bottom: $medium-sp
  .company-why-container
    margin-bottom: $medium-sp

.novnify-container
  @extend .kromtech-container
  padding-bottom: $big-sp

.novnify-logo-container
  float: left
  
.novnify-logo
  width: 174px
  height: 37px
  img
    +img

.novnify-top-container
  +clearfix

.novnify-key-container
  +media-width-max(1024)
    padding-left: 12%
    padding-right: 12%
    padding-bottom: 50px
  +media-width-max(768)
    padding-left: 0
    padding-right: 0

.novnify-stopad-icon
  display: inline-block
  margin-right: 15px
  width: 40px
  height: 40px
  vertical-align: middle
  img
    +img

.novnify-stopad-title
  margin: 0 0 20px 0
  font-size: 20px
  +medium-font
  color: $white-color
  text-transform: uppercase
  line-height: 1.4

.novnify-stopad-wrapper
  display: flex
  flex-wrap: wrap

.novnify-stopad-column
  flex: 1 1 40%
  +media-width-max(480)
    flex: 0 0 100%
  &:nth-child(2)
    flex: 1 1 60%
    +media-width-max(480)
      flex: 0 0 100%

.novnify-stopad-item
  position: relative
  font-size: 14px
  +light-font
  color: $white-color
  line-height: 2.6
  padding-left: 20px
  &:before
    content: ""
    position: absolute
    width: 6px
    height: 6px
    background-color: $accent-color
    border-radius: 50%
    left: 0
    top: 15px

.novnify-circles-container
  display: flex
  justify-content: space-around
  text-align: center
  margin-bottom: $normal-sp
  margin-left: 8%
  margin-right: 8%
  +media-width-max(1024)
    margin-left: 2%
    margin-right: 2%
  +media-width-max(480)
    flex-wrap: wrap
  .novnify-circle
    +media-width-max(480)
      flex: 0 0 100%
      padding-bottom: 50px
    &:nth-child(1)
      color: rgb(255, 66, 3)
    &:nth-child(2)
      color: rgb(125, 189, 20)
    &:nth-child(3)
      color: rgb(77, 154, 251)

.circle-img-container
  +media-width-max(768)
  width: 80%
  margin: 0 auto 20px
  img
    +img

.circle-text
  font-size: 18px
  line-height: 1.9

.novnify-container
  .aggregator-control-container
    .aggregator-counter
      button
        &:hover, &:active
          color: $white-color
          background-color: $dark-disabled-bg
      .slick-active
        button
          color: $counter-color
  .slick-disabled
    background-color: $dark-disabled-bg
    .aggregator-next-text
      color: $counter-color
    .learn-more
      stroke: $counter-color

.novnify-container
  .aggregator-title, .aggregator-item-date, .aggregator-item-link
    color: $white-color