@import "../vars"
@import "../_mixins/helpers"

.onset-section
  position: relative
  z-index: 10
  background-color: $dark-bg-color
  .learn-more-wrapper
    text-align: center
  .backtotop-button
    background-color: $dark-button-bg
    .section-name
      color: $dirty-white-color

.onset-container
  @extend .kromtech-container

.onset-wrapper
  @extend .kromtech-wrapper
  
.onset-logo
  width: 82px
  height: 38px

.onset-img-container
  width: 86%
  +media-width-max(1024)
    width: 65%
    margin: 0 auto
  +media-width-max(768)
    width: 80%
  img
    +img

.onset-advent-list
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin: 50px 8% 75px
  +media-width-max(1024)
    margin-right: 2%
    margin-left: 2%

.onset-advent-item
  display: flex
  position: relative
  left: 5%
  +media-width-max(1024)
    display: block
    left: 0
    text-align: center
  +media-width-max(640)
    justify-content: center
    display: flex
    flex: 0 0 100%
    margin-bottom: 20px
  .onset-item-icon
    position: absolute
    display: flex
    z-index: 10
    top: -15px
    left: -100px
    border-radius: 50%
    background-color: $dark-on-dark-bg-color
    width: 120px
    height: 120px
    +media-width-max(1024)
      position: static
      left: 0
      margin: 0 auto 20px
    +media-width-max(640)
      margin: 0 20px
    +media-width-max(480)
      margin-left: 0
    svg
      margin: auto
      width: 42px
      height: 30px
  &:first-child
    margin: 0
    +media-width-max(640)
      margin-bottom: 20px
    .onset-item-icon
      svg
        width: 32px
        height: 30px
  &:last-child
    margin: 0
    .onset-item-icon
      svg
        width: 33px
        height: 32px

.onset-item-info
  width: 170px
  z-index: 20
  +media-width-max(640)
    display: flex
    flex-wrap: wrap
    align-content: center
    width: 50%
    text-align: left

.onset-item-title
  padding-right: 70px
  margin: 0 0 10px 0
  font-size: 12px
  line-height: 1.7
  text-transform: uppercase
  color: $gray-light-color
  +media-width-max(1024)
    padding-right: 0

.onset-item-text
  margin: 0
  font-size: 12px
  line-height: 1.7
  color: $gray-color