@import "../vars"

.together-container
  max-width: 1400px
  margin: 0 auto
  padding: 90px 120px
  border-bottom: 1px solid rgb(204, 204, 204)
  .backtotop-button
    background-color: rgb(246, 246, 246)

.together-title
  font-size: 36px
  font-family: $bold-font
  color: rgb(53, 53, 53)
  text-transform: uppercase
  text-align: center

.partners-list
  display: flex
  flex-wrap: nowrap
  justify-content: center
  align-items: flex-end
  align-content: center
  margin-top: 110px

.partners-item
  img
    display: block

.partners-item + .partners-item
  margin-left: 50px