@import "vars"

.backtotop-button
  display: flex
  align-items: center
  justify-content: flex-end
  background-color: rgb(233, 233, 233)
  width: 200px
  height: 41px
  float: right
  .section-name
    font-size: 13px
    color: rgb(51, 51, 51)
    text-transform: uppercase
    margin-right: 20px
  .backtotop-link
    display: flex
  svg
    width: 58px
    height: 41px

.learn-more-button
  background-color: $accent-color
  display: inline-block
  .learn-more-link
    display: block
    padding: 15px 35px
    width: 100%
    height: 100%
    text-decoration: none
    font-size: 13px
    font-family: $medium-font
    text-transform: uppercase
    letter-spacing: 2px
    color: rgb(255, 255, 255)
  svg
    width: 10px
    height: 9px
    margin-left: 14px

.aggregator-next-button
  cursor: pointer
  background-color: $accent-color
  display: flex
  justify-content: center
  align-items: center
  width: 102px
  height: 32px
  .aggregator-next-text
    font-size: 13px
    font-family: $medium-font
    text-transform: uppercase
    letter-spacing: 2px
    color: rgb(255, 255, 255)
  svg
    width: 10px
    height: 9px
    margin-left: 7px
