@import "vars"
@import "_mixins/helpers"

.backtotop-button
  float: right
  display: flex
  align-items: center
  justify-content: flex-end
  background-color: $light-button-bg
  width: 200px
  height: 41px
  .section-name
    margin-right: 20px
    font-size: 13px
    color: $dark-color
    text-transform: uppercase
  .backtotop-link
    display: flex
    .backtotop-1
      transition: fill .2s ease-in
    &:hover
      .backtotop-1
        fill: $accent-hover-color
        transition: fill .2s ease-out
  svg
    width: 58px
    height: 41px

.learn-more-button
  display: inline-block
  background-color: $accent-color
  .learn-more-link
    display: block
    width: 100%
    height: 100%
    padding: 15px 35px
    font-family: $medium-font
    font-size: 13px
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 2px
    color: $white-color
  svg
    width: 10px
    height: 9px
    margin-left: 14px

.aggregator-next-button
  display: flex
  justify-content: center
  align-items: center
  width: 102px
  height: 32px
  cursor: pointer
  background-color: $accent-color
  transition: background .2s ease-out
  &:hover
    background-color: $accent-hover-color
    transition: background .2s ease-in
  .aggregator-next-text
    font-family: $medium-font
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 2px
    color: $white-color
  svg
    width: 10px
    height: 9px
    margin-left: 7px

.slider-left-arrow, .slider-right-arrow
  position: absolute
  z-index: 10
  box-sizing: content-box
  width: 14px
  height: 28px
  top: 50%
  padding: 30px 10px
  cursor: pointer
  transform: translateY(-50%)
  svg
    +scale-out(1)
    +img
  &:hover>svg
    +scale-in(1.4)