$regular-font: "montserrat-regular", sans-serif
$light-font: "montserrat-light", sans-serif
$bold-font: "montserrat-bold", sans-serif
$medium-font: "montserrat-medium", sans-serif

$white-color: rgb(255, 255, 255)
$dirty-white-color: rgb(243, 243, 243)
$dark-color: rgb(51, 51, 51)
$accent-color: rgb(255, 86, 7)
$light-accent-color: rgb(255, 128, 69)
$counter-color: rgb(104, 104, 104)
