$regular-font: "montserrat-regular", sans-serif
$light-font: "montserrat-light", sans-serif
$bold-font: "montserrat-bold", sans-serif
$medium-font: "montserrat-medium", sans-serif

$white-color: rgb(255, 255, 255)
$dirty-white-color: rgb(243, 243, 243)
$dark-color: rgb(51, 51, 51)
$gray-color: rgb(115, 115, 115)
$gray-light-color: rgb(213, 210, 214)
$accent-color: rgb(255, 86, 7)
$accent-hover-color: rgb(255, 42, 0)
$light-accent-color: rgb(255, 128, 69)
$counter-color: rgb(104, 104, 104)
$dark-bg-color: rgb(54, 54, 54)
$gray-bg-color: rgb(246, 246, 246)
$comp-bg-color: rgb(221, 222, 224)
$randd-bg-color: rgb(228, 228, 228)
$dark-on-dark-bg-color: rgb(49, 49, 49)
$gray-light-color: rgb(236, 236, 236)
$light-button-bg: rgb(233, 233, 233)
$dark-button-bg: rgb(85, 85, 85)
$gray-button-bg: rgb(200, 200, 200)
$contacts-bg: rgb(105, 105, 105)
$border-color: rgb(204, 204, 204)
$quote-border-color: rgb(70, 70, 70)

$small-sp: 30px
$medium-sp: 45px
$normal-sp: 65px
$big-sp: 80px